
body {
  background-color: #f7f7f9;
}

.todo-item{
  display:flex;
}
.close {
  position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
h1{
  text-align: center;
}
@media (min-width: 576px) {

}


@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .container {
    max-width: 768px;
  }
}
